Source: openpanel-openapp-mod-cron-apt
Section: misc
Priority: optional
Maintainer: OpenPanel packager <packages@openpanel.com>
Build-Depends: debhelper (>= 5), openpanel-dev, imagemagick
Standards-Version: 3.7.2

Package: openpanel-openapp-mod-cron-apt
Architecture: all
Pre-Depends: openpanel-core, openpanel-authd, cron-apt
Depends: openpanel-core, openpanel-api-sh, ${shlibs:Depends}, ${misc:Depends}
Description: OpenPanel module to manage cron-apt
 Enable or disable cron-apt from Openpanel 
